%p#notice= notice

%p
  %b Nombre:
  = @user.nombre
%p
  %b Mail:
  = @user.mail
%p
  %b Contrasena:
  = @user.contrasena
%p
  %b Username:
  = @user.username
%p
  %b Biografia:
  = @user.biografia
%p
  %b Country:
  = @user.country_id

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
