%h1 Listing projects

%table
  %tr
    %th Titulo
    %th Descripcion
    %th Inicio
    %th Fin
    %th Projectstatus
    %th User
    %th
    %th
    %th

  - @projects.each do |project|
    %tr
      %td= project.titulo
      %td= project.descripcion
      %td= project.inicio
      %td= project.fin
      %td= project.projectstatus_id
      %td= project.user_id
      %td= link_to 'Show', project
      %td= link_to 'Edit', edit_project_path(project)
      %td= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Project', new_project_path
